.frame {
    height: 736px;
    width: 414px;
    background-color:rgb(252, 246, 228);
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.frame p{
    margin:0;
    padding:0;
}

.frame table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.icon {
    max-width: 60%;
    max-height: 60%;
}

.home1{
    background-color: rgb(25, 0, 255);
    width: auto;
    height: 10%;
}

.home1 .home1-1{
    height: 100%;
    width: 100%;
    background-color: rgb(250, 240, 230);
}

.token{
    width: auto;
    height: 10%;
    margin-top: 5%;
    background-color: orange;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.token .no_token{
    background-color: burlywood;
    width: auto;
    height: auto;
    margin-top: 10px;
}